
  .background-image {
    height: 1000px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/f/f1/Zion_National_Park_Valley.jpg);
    max-width: 100%;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;
  }


.section{
    scroll-padding: 1em;
    border-bottom: 1em;

}

.level{

    height: 100px;
}


.hero is-medium is-primary is-bold{
    opacity: .5;

}


